<h2>Terms & Conditions</h2>

<p>By downloading or using the app, these terms will automatically apply to you – you should make sure therefore that you read them carefully before using the app.</p>

<h3>Basic Terms</h3>

<p>Therefore, "the content" are the images, texts and locations you use to create "experiences" and "scenes" inside the app (so content does not include personal information like email).</p>
<p>All the content you generate will be public.</p>
<p>You or the owner of the content keeps it after posting it, we don't ask for any kind ownership of it.</p>
<p>You are responsible for the content you post.</p>

<p>Pachatary is committed to ensuring that the app is as useful and efficient as possible. For that reason, we reserve the right to make changes to the app or to charge for its services, at any time and for any reason.</p>

<p>With respect to Pachatary’s responsibility for your use of the app, when you’re using the app, it’s important to bear in mind that although we endeavour to ensure that it is updated and correct at all times, we do rely on third parties to provide information to us so that we can make it available to you. Pachatary accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the app.</p>

<p>At some point, we may wish to update the app. The app is currently available on Android – the requirements for that system (and for any additional systems we decide to extend the availability of the app to) may change, and you’ll need to download the updates if you want to keep using the app. Pachatary does not promise that it will always update the app so that it is relevant to you and/or works with the Android version that you have installed on your device.</p>

<h3>Changes to This Terms and Conditions</h3>

<p>We may update our Terms and Conditions from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Terms and Conditions on this page. These changes are effective immediately after they are posted on this page.</p>

<h3>Contact Us</h3>

<p>If you have any questions or suggestions about our Terms and Conditions, do not hesitate to send as an email to hello@pachatary.com.</p>
