Django==2.0.7
boto3==1.7.49
dj-database-url==0.5.0
-e git+https://github.com/nvie/rq.git@c2b939d2df7df2bd0a6e5a73823a07baecc17895#egg=rq
-e git+https://github.com/jordifierro/django-rq.git@fc812ec38ef64df4b546bd0b5de726d24bfc7126#egg=django_rq
django-stdimage==3.2.0
django-storages==1.6.6
elasticsearch==6.2.0
gunicorn==19.8.1
mock==2.0.0
psycopg2==2.7.5
pytest==3.6.2
rollbar==0.14.1
whitenoise==3.3.1
